body {
  background-color: #161928;
}
.menu-button {
  display: none;
}
.buttons-container {
  position: fixed;
  top: 12px;
  right: 22px;
  font-size: 20px;
  margin: 10px;
  z-index: 9999;
}

.button {
  font-weight: bold;
  margin-top: 2%;
  margin-right: 40px;
  padding: 8px 16px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.button:hover {
  background-color: #0056b3;
  border-radius: 20px;
}
.container {
  margin-left: 22%;
  display: flex;
  margin-top: 5%;
}
.text {
  margin-top: 13%;
  font-size: 3em;
  color: white;
  text-align: center;
  max-width: 200%;
  font-family: Arial, sans-serif;
  margin-right: 1%;
}
.greeting-container {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.greeting {
  font-size: 1.2em;
  font-weight: bold;
}
.name {
  justify-content: center;
  text-align: center;
  font-size: 100px;
  font-style: italic;
  font-weight: bold;
  line-height: 94px;
  text-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
}
.details {
  margin-left: 50%;
  font-size: 80%;
  text-align: right;
}

.role {
  color: #2cb67d;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  margin-top: 50px;
}

.role2 {
  color: cornflowerblue;
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 50px;
}
.animation {
  max-width: 750px;
}
.waver {
  width: 80px;
  height: auto;
  margin-right: 10px;
}
.projects-title {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 60px;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: white;
  text-decoration: lightgreen underline;
  text-underline-offset: 5px;
  text-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
  padding-bottom: 5px;
}
.videos-title {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: white;
  text-decoration: lightgreen underline;
  text-underline-offset: 5px;
  text-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
  padding-bottom: 5px;
}

.projects-items {
  display: flex;
  justify-content: center;
  gap: 3%;
}
.projects-items.mobile-view {
  display: none;
}
.projects-item {
  width: 35%;
  border-radius: 35px;
  overflow: hidden;
}
.projects-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  transition: transform 0.3s ease;
}

.projects-item:hover img {
  transform: scale(1.05);
}
.item-title {
  background-color: #1f3b4d;
  border-radius: 0 0 15px 15px;
}
.item-title h5 {
  margin: 0;
  padding: 10px 70px;
  color: white;
  margin-left: 160px;
  font-size: 1.8em;
}
.part1 {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin-left: 23%;
  margin-bottom: 2%;
}
.part1 video {
  width: 100%;
  height: 20%;
  border-radius: 2%;
  overflow: hidden;
  border: 5px solid black;
}
.part2 {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin-left: 23%;
  margin-bottom: 2%;
}
.part2 video {
  width: 100%;
  height: 20%;
  border-radius: 2%;
  overflow: hidden;
  border: 5px solid black;
}
.part3 {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin-left: 27%;
  margin-bottom: 2%;
}
.part3 video {
  width: 70%;
  height: 20%;
  border-radius: 2%;
  overflow: hidden;
  border: 5px solid black;
}
.skills-title {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: white;
  text-decoration: lightgreen underline;
  text-underline-offset: 5px;
  text-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
  padding-bottom: 5px;
}
.items {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}
.skills-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 17px;
  width: 300px;
  height: 50px;
  border: 3px solid #293548;
  border-radius: 12px;
}
.skills-item h4 {
  color: white;
  margin: 0;
  font-size: 30px;
  flex-shrink: 1;
}
.skills-item img {
  max-width: 120px;
  max-height: 50px;
  object-fit: contain;
}

.contacts-items {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.contacts_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.overlay {
  margin-top: 3%;
  position: fixed;
  top: 50%;
  width: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.overlay-image {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  width: 950px;
  padding: 15px;
  max-width: 100%;
}

/* .close-overlay {
  position: absolute;
  top: 5px;
  margin-right: 22px;
  right: 10px;
  font-size: 50px;
  color: white;
  cursor: pointer;
} */

.card {
  background-color: #26283b;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #ccc;
  align-items: center; 
}
.card-content {
  padding: 20px;
  border: 2px solid #ccc;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
.card-content h5 {
  margin: 10px 10px;
  font-size: 35px;
}
.card-content h6 {
  margin: 20px 20px;
  font-size: 18px;
}
.button-content {
  display: flex;
  align-items: center;
}
.button-logo {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.button-link {
  display: inline-block;
  text-decoration: none;
}
.button-link:hover {
  background-color: #333;
}
.button-text {
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button-link:hover .button-text {
  background-color: #333;
}
.contacts-img-telega {
  width: 80%;
}
.contacts-img-ttv {
  width: 65%;
}
.contacts-img-linkedin {
  width: 65%;
}
.contacts-img-git {
  width: 82%;
}
.contacts-img-insta {
  width: 70%;
}
.videos-mobile {
  display: none;
}

@media screen and (max-width: 1114px) {
  .menu-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #0056b3;
    color: white;
    font-size: 36px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    transition: background-color 0.3s ease;
  }

  .buttons-container {
    display: none;
  }
  .animation {
    transform: translateY(-30px);
    width: 100%;
    max-width: 450px;
  }
  .greeting {
    font-size: 40px;
  }
  .details {
    font-size: 30px;
  }
  .name {
    font-size: 80px;
  }
  .role {
    width: 00%;
    font-size: 30px;
  }
  .role2 {
    font-size: 30px;
    margin-left: 170px;
  }
  .text {
    width: 80%;
    margin: 0 auto;
  }
  #home {
    margin-top: 150px;
    margin-right: 150px;
    width: 100%;
    transform: translateX(-50px);
  }
  .projects-items.desktop-view {
    display: none;
  }

  .projects-items.mobile-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-left: 10%;
    overflow-x: auto;
  }
  .projects-item {
    width: 145%;
    margin: 0 auto;
    align-items: center;
  }
  .proj-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .projects-title {
    width: 127%;
  }
  .overlay-image {
    width: 90%;
    padding: 5%;
    margin: 35px 5px 5px 5px;
  }
  .overlay {
    width: 90%;
    z-index: 999;
    transform: translateX(-50%) translateY(-900px);
  }
  .close-overlay {
    z-index: 1000;
  }
  .videos-title {
    width: 127%;
  }
  .videos-desktop {
    display: none;
  }
  .videos-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-left: 10%;
    gap: 20px;
  }
  .video-container video {
    width: 100%;
    max-height: 900px;
    border-radius: 2%;
    overflow: hidden;
    border: 5px solid black;
  }
  .skills-title {
    width: 127%;
  }
  .items {
    margin-top: 5%;
    margin-left: 25%;
  }
  .contacts-items {
    margin-top: 5%;
    margin-left: 240px;
    margin-bottom: 12%;
  }
  .video_intro {
    margin-top: 12%;
  }

  .menu {
    position: fixed;
    display: grid;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 22px;
    top: 100px;
 
    transition: height 0.5s ease, top 0.5s ease, opacity 0.5s ease;
  }

  .mob-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold !important;
    font-size: 25px !important; 
  }
}
